# Prevent React from being hoisted - needed for monorepo with different React versions
public-hoist-pattern[]=!react
public-hoist-pattern[]=!react-dom
hoist-pattern[]=!react
hoist-pattern[]=!react-dom
# Also prevent related packages
public-hoist-pattern[]=!react-test-renderer
hoist-pattern[]=!react-test-renderer
# Prevent expo packages from being hoisted (scanner uses these, admin doesn't)
public-hoist-pattern[]=!expo-router
hoist-pattern[]=!expo-router
public-hoist-pattern[]=!expo
hoist-pattern[]=!expo
public-hoist-pattern[]=!@expo/*
hoist-pattern[]=!@expo/*
